/* XÓA ĐOẠN BODY Ở ĐÂY ĐI VÌ NÓ ĐÃ CÓ BÊN INDEX.CSS RỒI */

.App {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

.main-content-container {
  max-width: 1400px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  /* Nếu bạn muốn khung này có màu nền phụ, dùng biến: */
  /* background-color: var(--clr-surface-a0); */
}

@media (max-width: 768px) {
  .main-content-container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}